@model DataLayer.tblTeam

@{
    ViewBag.Title = "Delete";
    Layout = "~/Content/education_zone/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblTeam</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblProject.FIRSAT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblProject.FIRSAT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblDeveloper.AD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblDeveloper.AD)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
